html, body, #root {
    height: 100%;
    width: 100%;
    background-color: lightslategray;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}